<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
  <% if user_has_posts? %>
    <%= render @user.posts %>
  <% else %>
    <p> <%= @user.name %> has not submitted any posts yet.</p>
  <% end %>
<h2>Comments</h2>
  <% if user_has_comments? %>
    <%= render @user.comments %>
  <% else %>
    <p><%= @user.name %> has not submitted any posts yet.</p>
  <% end %>
<h2>Favorites</h2>
  <% if user_has_favorites? %>
    <% @favorites.each do |post| %>
    <div class="media">
      <%= render partial: 'votes/voting', locals: { post: post } %>
      <div class="media-left">
        <%= image_tag current_user.avatar_url(48) %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to post.title, topic_post_url(post.topic, post) %>
        </h4>
        <small>
          submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %> <br>
        <%= post.comments.count %> Comments
        </small>
      </div>
    </div>
    <% end %>
  <% else %>
    <p><%= @user.name %> has no favorite posts.</p>
  <% end %>
